<center><h1>EDA for Project Arrhythmia</h1></center>

### Importing all the required libraries

In [3]:
import pandas as pd
import numpy as np
import scipy as sp
import math as mt
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

### Loding the required .csv (data) file

In [5]:
df=pd.read_csv("Data/arrhythmia.csv", header=None)

### Inspecting first 5 rows of the dataset

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7

### Inspecting last 5 rows of the dataset

In [7]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

### Inspecting the dimension of the dataset

In [9]:
df.shape

(452, 280)

### Obtaining concise summary of the dataframe

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Columns: 280 entries, 0 to 279
dtypes: float64(120), int64(155), object(5)
memory usage: 988.9+ KB

### Obtaining descriptive statistics of the dataset

In [15]:
df.describe().T

     count        mean        std    min     25%     50%      75%    max
0    452.0   46.471239  16.466631    0.0   36.00   47.00   58.000   83.0
1    452.0    0.550885   0.497955    0.0    0.00    1.00    1.000    1.0
2    452.0  166.188053  37.170340  105.0  160.00  164.00  170.000  780.0
3    452.0   68.170354  16.590803    6.0   59.00   68.00   79.000  176.0
4    452.0   88.920354  15.364394   55.0   80.00   86.00   94.000  188.0
..     ...         ...        ...    ...     ...     ...      ...    ...
275  452.0    0.514823   0.347531   -0.8    0.40    0.50    0.700    2.4
276  452.0    1.222345   1.426052   -6.0    0.50    1.35    2.100    6.0
277  452.0   19.326106  13.503922  -44.2   11.45   18.10   25.825   88.8
278  452.0   29.473230  18.493927  -38.6   17.55   27.90   41.125  115.9
279  452.0    3.880531   4.407097    1.0    1.00    1.00    6.000   16.0

[275 rows x 8 columns]

### counting total number of null values

In [17]:
df.isnull().sum().sum()

np.int64(0)

### Replacing the "?" with np.nan value

In [ ]:
df = df.replace('?',np.nan)

### Final counting total number of null values in dataset

In [ ]:
nu = pd.isnull(df).sum().sum()
nu

### Visualizing the distribution of our missing data

In [ ]:
pd.isnull(df).sum().plot()
plt.xlabel("Columns")
plt.ylabel("Total number of null values in each column")

### Zooming into the visualization

In [ ]:
pd.isnull(df).sum()[9:16].plot(kind="pie")
plt.xlabel("Columns")
plt.ylabel("Total number of null values in each column")

### Visualizing the exact column of missing values

In [ ]:
pd.isnull(df).sum()[9:16].plot(kind="bar")
plt.xlabel("Coulmns")
plt.ylabel("Total number of nuill values in each column")

### Dropping Column 13 as it has high number of missing elements

In [ ]:
df.drop(columns =13, inplace)